@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    color: #eee;
}

body{
    background-color: #101021;
}

/* ------ Header ------ */

#headercon{
    width: 100%;
    height: 60px;
    background-color: #35356E;
}

#headercon a{
    display: block;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #eee;
    background-color: #35356E;
}

#headercon a:hover{
    background-color: #5353AD;
}

.header_left{
    float: left;
}

.header_right{
    float: right;
}

#headercon a.header_current{
    background-color: #7878FA;
}

/* ------ Content ------ */

#contentcon{
    width: calc(100% - 100px);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.contentHeader{
    padding-bottom: 20px;
}
