@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    color: #eee;
}

body {
    background-color: #101021;
}


/* ------ Header ------ */

#headercon {
    width: 100%;
    height: 60px;
    background-color: #35356E;
}

#headercon a {
    display: block;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: #eee;
    background-color: #35356E;
}

#headercon a:hover {
    background-color: #5353AD;
}

.header_left {
    float: left;
}

.header_right {
    float: right;
}

#headercon a.header_current {
    background-color: #7878FA;
}


/* ------ Content ------ */

#contentcon {
    width: calc(100% - 100px);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.contentHeader {
    padding-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contentDescription {
    width: 100%;
    margin-bottom: 20px;
}


/* ------ Settings ------ */

.setting_con {
    background: #35356E;
    background-color: #5353AD;
    border-radius: 10px;
    padding: 5px;
}

.settingName {
    float: left;
    width: 200px;
    height: 100px;
    top: auto;
    bottom: auto;
    align-self: center;
    overflow: auto;
    border-right: 1px solid #35356E;
    text-align: center;
    font-size: large;
    font-weight: 600;
}

.settingDescription {
    display: block;
    float: left;
    width: 200px;
    height: 100px;
    overflow: auto;
    padding-left: 10px;
    border-right: 1px solid #35356E;
}

.settingType {
    display: block;
    float: right;
    width: 80px;
    height: 100px;
    overflow: auto;
    text-align: center;
}


/* ------ Switch ------ */


/* Source: https://www.w3schools.com/howto/howto_css_switch.asp */


/* The switch - the box around the slider */

.switch {
    left: calc(50% - 20px);
    top: calc(50% - 10px);
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #7878FA;
}

input:focus+.slider {
    box-shadow: 0 0 1px #7878FA;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 50%;
}