<html>

<head>
    <!-- 'nano' theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>
    <div id="headercon">
        {% include "header.html" %}
    </div>
    <div id="contentcon">
        {% block content %} {% endblock %}
    </div>
</body>

</html>