<a href="/" id="header_home" {% if currentSite == 'index' %} class="header_left header_current" {% else %}
    class="header_left" {% endif %}>
    Home
</a>
<a href="/settings" id="header_settings" {% if currentSite == 'settings' %} class="header_right header_current"
    {% else %} class="header_right" {% endif %}>
    Settings
</a>
<a href="/games" id="header_games" {% if currentSite == 'games' %} class="header_right header_current" {% else %}
    class="header_right" {% endif %}>
    Games
</a>