{% extends "layouts/contentLayout.html" %}

{% block cont_header %}
Settings
{% endblock %}

{% block cont_content %}

<div class="contentDescription">
    Here will be all the settings your heart desires!
</div>

{% with settingName="Continious updates", settingDescription="Regularly send updates to the light controller.", type="switch" %}
{% include "components/setting.html" %}
{% endwith %}

{% with settingName="Store state", settingDescription="Stores the last animation and color in the EEPROM of the controller.", type="switch" %}
{% include "components/setting.html" %}
{% endwith %}


<form action="/updateleds" method="POST">
    {% with name="sliderR" %}
        {% include "components/slider.html" %} 
    {% endwith %}
    {% with name="sliderG" %}
        {% include "components/slider.html" %} 
    {% endwith %}
    {% with name="sliderB" %}
        {% include "components/slider.html" %} 
    {% endwith %}
    
    <button type="submit" class="btnSubmit">Los</button>
</form>

{% endblock %}